header{
	width:100%;
	height:800px;
	text-align:center;
	background-image:url('../bishan.img/about-beshan/templates-banner.jpg'); 
	background-repeat:no-repeat;
	background-size:100%;
	color:#eeefd4;
}