*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
html{
    background-color: #ffe;
    box-sizing: border-box;
    font-size: 100%;
}
ul{
    list-style-type: none;
}
body {
    background-color: #ddd;
    color: #4a4a4a;
    padding: 0;
    margin: 0;
    font-family: "Cabin",sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}
.f_right{
    float: right;
}
.f_left{
    float: left;
}
.clear{
    clear: both;
}
.nomargin{
    margin: 0;
}
.line-right{
    border-right: 1px solid #6a6a6a;
}
label{
    cursor: pointer;
}
a{
    font-size: .9375rem;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding: 0;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    display: block;
    font-size: .875rem;
    padding: .5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .15s linear;
}
.btn-orange {
    color: #fff !important;
    background-color: #f57d00 !important;
    border: none !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.5) !important;
    border-radius: 3px !important;
    line-height: 4px !important;
    height: 35px;
}
.btn-orange {
    color: #fff !important;
    background-color: #f57d00 !important;
    border: none !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.5) !important;
    border-radius: 3px !important;
    line-height: 4px !important;
    height: 35px;
}
.btn-navy{
    color: #fff !important;
    background-color: #007095 !important;
    border: none !important;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.5) !important;
    border-radius: 3px !important;
    line-height: 4px !important;
    height: 35px;
}
.btn-orange:hover{
    opacity: .5;
}
.btn-navy:hover{
    opacity: .5;
}
.hoverToOrange a:hover{
    color: #f57d00 !important;
}
.hoverToOrange:hover{
    color: #f57d00 !important;
}
.hoverToWhite:hover{
    color: #fff !important;
}
.hoverToWhite a:hover{
    color: #fff !important;
}
.color_white li a{
    color: #fff;
}
.color-black{
    color: #4a4a4a;
}
.hide{
    display: none;
}
form input[type="text"], form input[type="password"], form input[type="date"], form input[type="datetime"], form input[type="datetime-local"], form input[type="month"], form input[type="week"], form input[type="email"], form input[type="number"], form input[type="search"], form input[type="tel"], form input[type="time"], form input[type="url"], form textarea, form select {
    background: #feffef;
}
.f_bold{
    font-weight: bold;
}
.colorRed{
    color: red;
}
