body{
    font-size: 100%;
    min-width: 270px;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
input,select,option{
	border: none;
	outline: none;
	-webkit-appearance: none;
}
ul{
	list-style-type: none;
}
a:hover{
	text-decoration: none;
}
.careers{
	background: url(../img/templates-banner.jpg);
	background-size: 100% 100%;
	height: 700px;
	text-align: center;
	overflow: hidden;
}
.careers .container{
    color: #f0f1d9;
    display: inline-block;
    text-align: center;
    width: 100%;
    position: relative;
    top: 25%;
    margin-top: 25px;
}
.careers .row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 61.25rem;
}
.careers .banner-heading{
    color: #f0f1d9;
    font-weight: normal;
    font-size: 5rem;
    text-shadow: 0 0 4px rgba(0,0,0,0.65);
    line-height: 1.4;
}
.careers .banner-copy p{
    font-size: 2.1rem;
    text-shadow: 0 0 4px rgba(0,0,0,0.65);
    font-weight: normal;
    line-height: 1.8;
}
.careers a{
    color: orange;
}
.page-section .decor-wrap{
    text-align: center;
}
.page-section .decor-wrap h1{
    font-size: 3.5rem;
    font-weight: normal;
}
.page-section .decor-wrap canvas{
    height: 30px;
    width: 90px;
}
.page-section{
    text-align: center;
    padding: 40px 0;
    background: url(../img/hemp-bg.png);
}
.page-section .row{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.page-section p{
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.page-section a{
    color: orange;
}
.page-section img{
    width: 100%;
    max-width: 100%;
}
.page-section .wexin{
    width: 200px;
}