#slider{
    position: relative;
}
#slider a{
    color: #4a4a4a;
}
.mui-slider-item a{
    display: inline-block;
    width: 100%;
    height: 850px;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: cover;
}
.slider-item1{
    background-image: url(../img/banner-img/paris-3257030_1920.jpg);
}
.slider-item2{
    background-image: url(../img/banner-img/Taktsang-Bhutan-tour.jpg);
}
.slider-item3{
    background-image: url(../img/banner-img/bilu.jpg);
}
.slider-item4{
    background-image: url(../img/banner-img/crater.jpg);
}
.mui-indicator{
    width: 11px !important;
    height: 11px !important;
}
.slider-leftArrow{
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
    text-align: left;
    line-height:850px;
}
.slider-rightArrow{
    position: absolute;
    width: 200px;
    top: 0;
    right: 0;
    text-align: right;
    line-height:850px;
}
.slider-leftArrow span{
    color: #fff;
    font-size: 5rem;
    width: 80px;
    height: 100px;
    background: rgba(123,123,123,.3);
}
.slider-rightArrow span{
    color: #fff;
    font-size: 5rem;
    width: 80px;
    height: 100px;
    background: rgba(123,123,123,.3);
}
.mui-slider-group{
    transition-timing-function: linear;
    transition-property: transform;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.mui-slider-item{
    position: relative;
}
.mui-slider-item .mui-col-sm-12{
    width: 100%;
    max-width: 1140px;
    height: 300px;
    background-color: transparent;
    position: absolute;
    top: 210px;
    left: 50%;
    margin-left:-570px  ;
    color: #f0f1d9;
    text-align: center;

}
.mui-slider-item .mui-col-sm-12 *{
    color: #f0f1d9;
}
.rec-heading {
    display: inline-block;
    position: relative;
    height: 2rem;
    line-height: 2rem;
    background: #899696;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0 auto;
}
.rec-heading::before{
    display: block;
    content:" ";
    border: 1rem solid #899696;
    border-left-color: transparent;
    position: absolute;
    top: 0;
    left: -2em;
}
.rec-heading::after{
    display: block;
    content:" ";
    border: 1rem solid #899696;
    border-right-color: transparent;
    position: absolute;
    top: 0;
    right: -2em;
}
.rec-trip {
    margin: 0.5rem 0;

}
.rec-trip a {
    color: #f0f1d9 !important;
    font-size: 2.875rem;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.35);
    font-family: 'Microsoft Yahei', 'Volkhov', serif;
    color: #f0f1d9;
    height:auto;
}
.rec-trip p {
    font-size: 1.375rem;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.35);
    color: #f0f1d9;
}
.search-above-slider{
    position: absolute;
    top:520px;
    width: 100%;
    max-width:850px;
    margin-left:-425px;
    left: 50%;
    padding: 10px 10px 5px 10px;
    background-color: rgba(0,0,0,.6);
    margin-bottom: 40px;
}
.search-above-slider *{
    font-size: 13px;
}
.search-above-slider .mui-col-sm-3{
    padding: 0 10px;
}
.search-above-slider .mui-col-sm-3 .chosen-single{
    background-color: rgb(240, 241, 219) !important;
}
.search-continent{
    background-color: rgb(215, 216, 196) !important;
    color: #95958b !important;
}
.search-above-btn{
    width: 100%;
}
.rec-above-slider{
    width: 100%;
    max-width: 1000px;
    height: 200px;
    position: absolute;
    top: 600px;
    left: 50%;
    margin-left: -500px;
    padding: 0 10px 20px;
    overflow: visible;
}
.rec-above-slider .mui-col-sm-3{
	width: 24%;
    margin-right: 5px;
	background-clip: content-box;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 95%;
    position: relative;
}
.rec-item1{
    background-image: url(../img/banner-thumbnail/bike.jpg)
}
.rec-item2{
    background-image: url(../img/banner-thumbnail/zebra.jpg)
}
.rec-item3{
    background-image: url(../img/banner-thumbnail/bilu.jpg)
}
.rec-item4{
    background-image: url(../img/banner-thumbnail/Bhutan-tour.jpg)
}
.rec-above-slider .title{
	position: absolute;
	bottom: 0px;
	height: 30%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	color: white;
	font-weight: 500;
	padding: 5px 20px;
	font-size: 14px;
}
