
#services-thumbs{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
#services-thumbs li{
    width: 23%;
    margin: 0 5px;
    position: relative;
    overflow: hidden;
}
#services-thumbs li a{
    height: 100%;
    width: 100%;
}
#services-thumbs li img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 4;
}
#services-thumbs li .overlay{
    background-color: rgba(0,0,0,.5);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 5;
    top: 100%;
    margin-top: -50px;
    transition-duration: 500ms;
}
#services-thumbs li .overlay:hover{
    top: 0;
    margin-top: 0;
}
#services-thumbs li .overlay .title{
    height:50px;
    line-height: 50px;
    color: #fff;
    font-size: 17px;
}
#services-thumbs li>a>img:hover+.overlay {
    top: 0;
    margin-top: 0;
}
#services-thumbs li .overlay .description{
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}
.feature-team{
    background-image: url(../img/home-mountain_bw.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
.travel-experts .mui-col-sm-6{
    width: 40%;
    margin:0 5%;
}
.travel-expert {
    background: #f0f1dc;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
    margin-bottom: 20px;
    overflow: hidden;
}
.travel-expert img{
    width: 100%;
}
.travel-expert .intro-body{
    padding:20px 10px;
    overflow: auto;
}
.travel-expert .name{
    font-size: 30px;
    padding: 5px 0;
}
.profession{
    font-style: italic;
    margin-bottom: 20px;
}
.feature-testimonials{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.feature-testimonials .row{
    display: flex;
    justify-content: space-around;
}
.feature-testimonials .row .mui-col-sm-4{
    width:30%;
}
.feature-testimonials .row .mui-col-sm-4 .testimonial{
    text-align: center;
}
.feature-testimonials .testimonial .styled-quote{
    padding: 2.5em 0;
    margin-bottom: 1.5em;
}

.feature-testimonials .read-more-link{
    background-color: transparent;
}
